@mixin goflex(
  $direction: row,
  $justify: flex-start,
  $align: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin zoo-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  @media (max-width: 1200px) {
    max-width: 1000px;
    padding: 0 24px;
  }
  @media (max-width: 640px) {
    max-width: 100%;
    padding: 0 20px;
  }
  @media (max-width: 320px) {
    max-width: 100%;
  }
}
