// fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
$zoo-font: "Montserrat";

// Colors
$zoo-orange: #f58021;
$zoo-orange-hover: #d26004;
$zoo-blue: #20113d;
$zoo-green: #00a092;
$zoo-green-hover: #05786e;
$zoo-black: #000000;
$zoo-white: #ffffff;

// Breakpoints
$desktop: 1920px;
$laptop: 1200px;
$tablet: 640px;
$mobile: 320px;
