// fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// Colors
$zoo-orange: #f58021;

// Breakpoints
$desktop: 1920px;
$laptop: 1200px;
$tablet: 640px;
$mobile: 320px;
