@use "../components/variables" as *;
@use "../components/mixins" as *;
@use "../components/buttons" as *;
@use "../components/fonts" as *;
@use "../components/reset" as *;

footer {
  width: 100%;
  background-color: $zoo-blue;
  .container {
    @include zoo-container;
    .top-line {
      @include goflex(row, space-between, center);
      padding: 70px 0;
      @media (max-width: $laptop) {
        flex-direction: column;
        gap: 50px;
      }
      @media (max-width: $tablet) {
        padding: 50px 0;
      }
      .footer-logos {
        @include goflex(row, center, center);
        gap: 65px;
        @media (max-width: 1400px) {
          gap: 30px;
        }
        @media (max-width: $tablet) {
          @include goflex(column, center, center);
        }
      }
      nav {
        ul {
          @include goflex(row, center, center);
          gap: 46px;
          @media (max-width: 1400px) {
            gap: 20px;
          }
          @media (max-width: $tablet) {
            gap: 12px;
          }
          a {
            color: $zoo-white;
            font-family: $zoo-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            transition: all 0.1s ease;
            @media (max-width: $tablet) {
              font-size: 14px;
            }
            &:hover {
              color: $zoo-green;
            }
          }
        }
      }
      .donate-btn {
        @include donate-btn;
      }
    }
    .mid-line {
      background-color: #fff;
      height: 1px;
      width: 100%;
    }
    .bottom-line {
      @include goflex(row, space-between, center);
      padding: 40px 0;
      @media (max-width: 730px) {
        flex-direction: column-reverse;
        gap: 30px;
      }
      @media (max-width: $tablet) {
        padding: 50px 0;
      }
      .copyrights {
        @include goflex(row, center, center);
        gap: 30px 50px;
        @media (max-width: 730px) {
          flex-direction: column;
        }
        p {
          color: $zoo-white;
          font-family: $zoo-font;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
    .social-icons {
      @include goflex(row, center, center);
      gap: 40px;
    }
  }
}
